#pontinho{
    
    padding-top: 10px;
    width: 30px;

}
#logo{
    width: 300px;

}
div.center{
    text-align: center;
    margin-top: -105px;
    margin-bottom: 1%
}
#barra_de_pesquisa{

    text-align: center;

}
